# My Jupyter Notebook on IBM Watson Studio

**Atiya Rasool**

Project Coordinator

Data Scientist

*I am interested in data science because I regularly use data analysis for various policy recommendations at the work place. Besides, I love to work, and evolve from data meaningful policy implications that impact society.*

Notable Data Science Languages
1. Python
2. R Language
3. SQL
4. Scala
5. Java
6. C++
7. Julia

Data Science Libraries

1. Python Libraries
2. Pandas
3. Numpy
4. Matplotlib
5. Seaborn
6. Scikit Learn
7. Keras
8. TensorFlow
9. PyTorch
10. Apche Spark
11. Vegas
12. BigDL
13. ggplot2

| Data Science Tools |
|:------------------:|
| Data Management| 
| Data Integration and Transformation|
| Data Visualization | 
| Model Building | 
| Model Deployment | 
| Code Asset Management | 
| Data Asset Management | 
| Deployment Environments | 
| Execuation Environments |

The next cell will display addition and multiplication i.e 1+1=2 and 12*12=144

In [3]:
1+1

2

In [4]:
12*12

144

In [5]:
24*60

1440

### Objectives
1. Demonstrate skills by creating and configuring a Jupyter Notebook.

### Author (s)

### Atiya Rasool

In [2]:
1+1

2

Three or more...

---

Hyphens

***

Asterisks

___

Underscores
1. First ordered list item
2. Another item
1. First ordered list item
2. Another item
⋅⋅* Unordered sub-list. 
1. Actual numbers don't matter, just that it's a number
⋅⋅1. Ordered sub-list
4. And another item.

| Tables        | Are           | Cool  |
| ------------- |:-------------:| -----:|
| col   is      | right-aligned | $1600 |